<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      type="text"
      placeholder="Company name e.g Apple"
      matInput
      formControlName="symbol"
      value=""
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      autoActiveFirstOption
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="
          let option of (filteredOptions$ | async) as options;
          trackBy: trackByFn
        "
        [value]="option"
        >{{ option.name }}</mat-option
      >
    </mat-autocomplete>
    <mat-error>
      <span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
      >
        Please enter a symbol
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select
      #namedRangeSelect="matSelect"
      (selectionChange)="selectDatesFromNamedRange($event)"
    >
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>From</mat-label>
    <input
      formControlName="from"
      #pickerInputFrom="matDatepickerInput"
      matInput
      [matDatepicker]="pickerFrom"
      [max]="pickerInputTo.value || today"
      placeholder="Choose a date"
      (dateChange)="namedRangeSelect.value = undefined"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>To</mat-label>
    <input
      formControlName="to"
      #pickerInputTo="matDatepickerInput"
      matInput
      [matDatepicker]="pickerTo"
      [min]="pickerInputFrom.value"
      [max]="today"
      placeholder="Choose a date"
      (dateChange)="namedRangeSelect.value = undefined"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>
</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
